{% extends 'base.html.twig' %}

{% block title %}Visitor Page{% endblock %}

{% block body %}

<div class="example-wrapper">

    Visiting this page publishes and event from the PHP Controller.


    <div id="random-number" style="font-size: 35px;"></div>


    <ul id="thruway-log"></ul>



</div>
{% endblock %}

{% block xxjavascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/autobahnjs/0.11.2/autobahn.min.js" ></script>
    <script src="{{ asset('js/random.js') }}" ></script>

{% endblock %}

